azure-batch==4.1.3
azure-cli-acr==2.0.24
azure-cli-acs==2.0.32
azure-cli-advisor==0.5.1
azure-cli-ams==0.1.0
azure-cli-appservice==0.1.32
azure-cli-backup==1.1.1
azure-cli-batch==3.2.2
azure-cli-batchai==0.2.2
azure-cli-billing==0.1.8
azure-cli-cdn==0.0.14
azure-cli-cloud==2.0.13
azure-cli-cognitiveservices==0.1.13
azure-cli-command-modules-nspkg==2.0.1
azure-cli-configure==2.0.15
azure-cli-consumption==0.3.1
azure-cli-container==0.1.23
azure-cli-core==2.0.32
azure-cli-cosmosdb==0.1.21
azure-cli-dla==0.0.19
azure-cli-dls==0.0.21
azure-cli-dms==0.0.1
azure-cli-eventgrid==0.1.12
azure-cli-eventhubs==0.1.3
azure-cli-extension==0.0.13
azure-cli-feedback==2.1.1
azure-cli-find==0.2.9
azure-cli-interactive==0.3.20
azure-cli-iot==0.1.20
azure-cli-keyvault==2.0.21
azure-cli-lab==0.0.22
azure-cli-monitor==0.1.6
azure-cli-network==2.1.0
azure-cli-nspkg==3.0.2
azure-cli-profile==2.0.24
azure-cli-rdbms==0.2.2
azure-cli-redis==0.2.13
azure-cli-reservations==0.1.2
azure-cli-resource==2.0.28
azure-cli-role==2.0.23
azure-cli-servicebus==0.1.2
azure-cli-servicefabric==0.0.12
azure-cli-sql==2.0.25
azure-cli-storage==2.0.32
azure-cli-vm==2.0.31
azure-cli==2.0.32
azure-common==1.1.11
azure-datalake-store==0.0.19
azure-graphrbac==0.40.0
azure-keyvault==0.3.7
azure-mgmt-advisor==1.0.1
azure-mgmt-authorization==0.40.0
azure-mgmt-batch==4.1.0
azure-mgmt-batchai==1.0.0
azure-mgmt-billing==0.2.0
azure-mgmt-cdn==1.0.0
azure-mgmt-cognitiveservices==1.0.0
azure-mgmt-compute==4.0.0rc2
azure-mgmt-consumption==2.0.0
azure-mgmt-containerinstance==0.4.0
azure-mgmt-containerregistry==2.0.0
azure-mgmt-containerservice==3.0.1
azure-mgmt-cosmosdb==0.4.0
azure-mgmt-datalake-analytics==0.2.0
azure-mgmt-datalake-nspkg==2.0.0
azure-mgmt-datalake-store==0.2.0
azure-mgmt-datamigration==0.1.0
azure-mgmt-devtestlabs==2.0.0
azure-mgmt-dns==2.0.0rc1
azure-mgmt-eventgrid==0.4.0
azure-mgmt-eventhub==1.2.0
azure-mgmt-iothub==0.4.0
azure-mgmt-iothubprovisioningservices==0.1.0
azure-mgmt-keyvault==0.40.0
azure-mgmt-marketplaceordering==0.1.0
azure-mgmt-media==1.0.0rc1
azure-mgmt-monitor==0.5.0
azure-mgmt-msi==0.1.0
azure-mgmt-network==2.0.0rc2
azure-mgmt-nspkg==2.0.0
azure-mgmt-rdbms==1.1.0
azure-mgmt-recoveryservices==0.1.0
azure-mgmt-recoveryservicesbackup==0.1.1
azure-mgmt-redis==4.1.0
azure-mgmt-reservations==0.1.0
azure-mgmt-resource==1.2.1
azure-mgmt-servicebus==0.4.0
azure-mgmt-servicefabric==0.1.0
azure-mgmt-sql==0.8.6
azure-mgmt-storage==1.5.0
azure-mgmt-trafficmanager==0.40.0
azure-mgmt-web==0.35.0
azure-multiapi-storage==0.2.0
azure-nspkg==2.0.0
azure-storage-blob==1.1.0
azure-storage-common==1.1.0
azure-storage-nspkg==3.0.0