Cloud:
    provider : aws
ami_id :  ami-0d8ae726968615e70
region : us-west-2
availability_zone : us-west-2b
vpc_id : None
subnet_id_ipv6 : xxxx
subnet_id_ipv4 : xxxx
security_group_ids : xxxx
additionalinfo : xxxx
ssh_user : ec2-user
# The key pair name to create resource
ssh_key_name : xxxx
# specify tag name to identify resource created in test run
ec2_tagname : virtqe
ipv4_range : 10.119.0.16/16
# specify outpostsarn if test on outposts system
#outpostarn : arn:aws:outposts:xxxxxx
# dmesg_compare_url is using for compare dmesg output purpose.
# It is optional and it will help you to find whether there is
# new fail/warning/error/call trace in test_check_dmesg.
# If it is not specified during test, all fail/warning/error/call
# trace is considered as case fail.
# dmesg_compare_url : XXXXXXX
# ntp_server is used for time drift checking
ntp_server : de.ntp.org.cn
# stress pkgs for stress utility, below are options url list
# https://rpmfind.net/linux/epel/6/x86_64/Packages/s/stress-1.0.4-4.el6.x86_64.rpm
# https://rpmfind.net/linux/epel/6/i386/Packages/s/stress-1.0.4-4.el6.i686.rpm
# https://rpmfind.net/linux/epel/7/x86_64/Packages/s/stress-1.0.4-16.el7.x86_64.rpm
stress_url : "https://rpmfind.net/linux/epel/7/x86_64/Packages/s/stress-1.0.4-16.el7.x86_64.rpm"
# measure system boot/reboot time via systemd-analyze
max_boot_time : 40
max_reboot_time : 35
# Install ltp rpms instead of compiling it each time
# x86_64: https://github.com/liangxiao1/rpmbuild_specs/releases/download/ltp-master-20200514/ltp-master-20200514.x86_64.rpm
# aarch64: https://github.com/liangxiao1/rpmbuild_specs/releases/download/ltp-master-20200514/ltp-master-20200514.aarch64.rpm
ltp_url : https://github.com/liangxiao1/rpmbuild_specs/releases/download/ltp_20190130/ltp-master-20190129.x86_64.rpm
# True|False to collect code coverage report, you need a gcov kernel ami first
code_cover : False
# optional, amazon and ubuntu AMIs for preformance comparing
amzn2_ami_id_x86 : ami-0873b46c45c11058d
amzn2_ami_id_arm : ami-091a6d6d0ed7b35fd
ubuntu_ami_id_x86 : ami-0a634ae95e11c6f91
ubuntu_ami_id_arm : ami-085fd7441d1390d15
ubuntu_ssh_user : ubuntu
# specify allowed ration in test eg. amazon 23s, rhel 40s, (40-23/23)*100 > 70, the test will fail
boottime_max_ratio : 70
net_max_ratio : 10
storage_max_ratio : 10
